body,
html {
	width:  100%;
	height: 100%;
	font-size: 100%;
	font-family: 'Kdam Thmor Pro', sans-serif;


 	background: url(email-3249062_1280.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: white;

}

body {
	margin-top: 100px;
}



.container-card-title {
	margin: auto; 
	display: flex;
	width: fit-content;
	height: fit-content;
	padding: 20px;
	background-color: rgba(0,0,0,0.4);
}

.container {
	margin: auto; 
	display: flex;
	width: fit-content;
	height: fit-content;
	padding: 20px;
	background-color: rgba(0,0,0,0.4);

}

#mc_embed_signup {
	opacity: 0.9;
	width: auto;
	height: auto;
	display: flex;
	padding: 20px;
	background-color: rgba(0,0,0,0.4);
}

input {
	line-height: 32px;
	height: 32px !important;
	vertical-align: center;
	margin-top: 10px;
	font-size-adjust: ;

}

#mce-ADDRESS-country {
	margin-top: 10px;
}



.submit-container {
	height: 50px;
	margin-left: 0;
	top: 50%;
	left: 50%;
	-ms-transform: translate(50%, -100%);
  transform: translate(40%, 5%);
}


h1, h2 {

	color: black;
	font-size:2rem;
	text-align: center;

}
.container-card-title {
	display: grid;
	justify-content: center;
	align-content: center;
}

.row {
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
	align-items: stretch;
	vertical-align: strecth;
}


.btn {
	font-weight: 700;
	border-radius: 100px;
}

.btn-xl {
	padding: 2erm 3erm;

}

.big-header {
	font-size: 5rem;
}


.findoutmore {
	
	background-color: #fbc420;
	border-color: #fbc420;
	border-width: 0.5px;
	transition: 0.5s;

	--c: #1095c1; /* the color */
  
  color: #white;
  background: 
    linear-gradient(90deg,#fff 50%,var(--c) 0) calc(500% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;


}


.findoutmore:hover {
  --_p: 100%
}

.btn-primary {
	
	color: white;
	background-color: #fbc420;
	border-color: #fbc420;
	margin: 0px auto;
	border-width: 0.5px;
}




hr {
    margin: 10px auto;
    color: #fbc420;
    border: 1px solid #fbc420;
    max-width: 1500px;
    opacity: 100;  
}



.buffer {
	height: 30erm
}

.buffer {
	margin: 20px;
}

.vertical-center {
	margin: 0;
  position: static;
  top: 50%;
 
}


#mce-EMAIL
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-FNAME	
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-LNAME
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-ADDRESS-addr1
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-ADDRESS-addr2
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-ADDRESS-city
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-ADDRESS-state
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-ADDRESS-zip
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}
#mce-ADDRESS-country {
  height: 25px;
  flex: 0px;
  margin-left: 10px;


}

#mce-PHONE
{
  height: 20px;
  flex: 0px;
  margin-left: 10px
}


#mc-embedded-subscribe {
	height: 40px;
	background-color: #fbc420;
	color: white;
	border-color: none;
	margin: 0px auto;
	border-width: 0.5px;
	border-radius: 100px;
	vertical-align: center;

}

.btn-outline-success {
	background-color: clear;
	border-color: #fbc420;
}

.btn-outline-success:hover {
  --_p: 100%

}

.btn-outline-success:hover {
 border-color: none;
 
}

.ontainer-card-title {
	position: absolute;
}




